{# <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary bg-dark navbar-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white f" href="/"><i class="fa-solid fa-volleyball"></i></a>
                </li>
                {% if not login %}

                    <li class="nav-item">
                        <a class="nav-link" href="/Teams">Teams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/GameReport">Spielbericht</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/kontakt">Kontakt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/impressum">Impressum</a>
                    </li>

                {% endif %}

                {% if not login %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-danger" href="/Logout">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-success" href="/Login">Login</a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav> #}

<!-- Fixed navbar -->
{# <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Fixed navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav> #}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand text-white" href="/"><i class="fa-solid fa-volleyball"></i></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/Teams">Teams</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/GameReport">Spielbericht</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Game">Spielplan</a>
                </li>
                {# <li class="nav-item">
                    <a class="nav-link" href="/Kontakt">Kontakt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Impressum">Impressum</a>
                </li> #}
            </ul>
            <form class="form-inline my-2 my-md-0">
                {% if login %}
                    <a class="nav-link btn btn-success" href="/Login">Login</a>
                {% else %}
                    <a class="nav-link btn btn-danger" href="/Logout">Logout</a>
                {% endif %}
            </form>
        </div>
    </div>
</nav>
